@{
    ViewData["Title"] = "Totale punti ";
}

<h2 class="mb-5 mt-3">Totale punti decurtati per trasgressore</h2>

@if (Model is null)
{
    <h2 class="mb-5 mt-3">Non ci sono verbali sul database</h2>
}
else
{
    <table class="table mb-5">
        <thead>
            <tr>
                <th scope="col">Id Anagrafica</th>
                <th scope="col">Nome</th>
                <th scope="col">Cognome</th>
                <th scope="col">Totale Punti</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var multa in Model)
            {
                <tr>
                    <td>@multa.IDAnagrafica</td>
                    <td>@multa.Nome</td>
                    <td>@multa.Cognome</td>
                    <td>@multa.Totale</td>

                </tr>
            }
        </tbody>
    </table>
}
