<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Polizia Municipale</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://4.bp.blogspot.com/-1o34brYpA5E/WZGi5z3veuI/AAAAAAAAAKc/D74cdpA67ZMv5BMZMf3NDtYe1top30pWACLcBGAs/s1600/IMG_5949%2B-%2BCopia.JPG" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/be_5_test.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm fw-bold navbar-toggleable-sm w-100 navbar-light border-bottom box-shadow mb-3 position-fixed top-0" style="background-color: #1055AD;">
            <div class="container-fluid ">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="https://siulp.it/wp-content/risorse/2021/02/polizia.png" alt="Polizia Municipale Logo" style="width: 120px; margin-left: 40px;">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item me-3">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown me-3">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Aggiungi
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Home" asp-action="Add">Aggiungi verbale</a></li>
                                <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Home" asp-action="AddAnagrafica">Aggiungi Trasgressore</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Verbali
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Query" asp-action="VerbaliTrasgre">Trasgressori</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Query" asp-action="TrasgrePunti">Punti Decurtati Trasgressore</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Query" asp-action="Punti">Violazioni > 10 punti</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Query" asp-action="FiltroImporto">Violazioni > 400€</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3 pt-5 mt-5">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted text-center">
        <div class="container text-center">
            &copy; 2024 - Polizia Municipale - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
